@(loginForm: Form[LoginForm], messageFromServer : String)(implicit message : Messages)
<!DOCTYPE html>

<html lang="kr">
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("Semantic-UI-CSS-master/semantic.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
      <form class="ui form" action = "@routes.LoginController.loginProcess()" method="post">
        <h2 class="form-signin-heading">@messageFromServer</h2>
        <div class="field" style="width: 200px">
          <input type="text" id="inputEmail" placeholder="ID" name = "account" required autofocus>
        </div>
        <div class="field" style="width: 200px">
          <input type="text" id="inputPassword" placeholder="password" name ="password" required>
        </div>
        <button class="ui button" type="submit">Sign in</button>
      </form>
      <a href="@routes.JoinController.join()">Join us!</a>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="@routes.Assets.at("Semantic-UI-CSS-master/semantic.js")"></script>
  </body>
</html>

