@(loginForm: Form[LoginForm], messageFromServer : String)(implicit message : Messages)
<!DOCTYPE html>

<html lang="kr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action = "/loginProcess" method="post" target="_parent">
        <h2 class="form-signin-heading">@messageFromServer</h2>
        <input type="text" class="form-control" id="inputEmail" placeholder="ID" name = "account" required autofocus>
        <input type="text" class="form-control" id="inputPassword" placeholder="password" name ="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <a href="/join" target="_parent">Join us!</a>
    </div>
  </body>
</html>

